<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042066095456-k0bq7356idhdb3fvg7e74gtntrqepk74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042066095456-k0bq7356idhdb3fvg7e74gtntrqepk74</string>
	<key>API_KEY</key>
	<string>AIzaSyCTlstMU_ggbN3IYlxuYMYvak-SwVKMzIk</string>
	<key>GCM_SENDER_ID</key>
	<string>1042066095456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.psiquiatriaSantaClara</string>
	<key>PROJECT_ID</key>
	<string>psisancla</string>
	<key>STORAGE_BUCKET</key>
	<string>psisancla.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042066095456:ios:5aa13cdda860ec4d9ef205</string>
</dict>
</plist>